body{
  background-image: url("google-2.jpg");
}
.navbar{
  background-image: url("google-2.jpg");
}
.row{
  border-radius: 1rem;
  margin-left: 120px;
  margin-top: 70px;
}

#mainpanel {
    position: center;
  }
  .headerbox{
    color: black;
    font-size: 2.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  .sharelink{
    padding-top: 0.8rem;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .sharelinks{
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .btnfont{
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

  }
  .shadow-lg {
    position:center;
    width:auto;
  }

@media screen and (max-width: 600px) {
  body{
    width: 100%;
    background-image: url("google-2.jpg");
  }
  .navbar{
    background-image: url("google-2.jpg");
  }
  .row{
    border-radius: 1rem;
    margin-left:0px;
    margin-top: 4px;
    margin-right:1px;

  }
.headerbox{
  font-size:1.8rem;

} 
.navbar{
  width:auto;
 height:91px;
}
}
